# NYC Public Schools SAT Scores Analysis

Created by: Ricky Jay Gomez

![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

YA dataset called `schools.csv` is provided, which is previewed below.

This work answers three key questions about New York City (NYC) public school SAT performance:
- Which schools are the best math schools in NYC?
- Which are the top 10 schools in NYC based on the overall SAT scores (math, reading, writing)?
- What school has the greatest standard deviation in terms of the overall SAT scores of students?

## Setting up data

In [171]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

## Creating dataframe: best_math_schools

In [172]:
# Schools with at least 80% in Math SAT: best_math_schools

max_score = 800
score_80 = 0.8 * max_score
best_math_schools = schools[schools['average_math'] >= score_80][['school_name','average_math']].sort_values('average_math',ascending = False)

best_math_schools

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [173]:
# Top 10 best schools based on overall SAT scores (math, reading, and writing: top_10_schools

schools['total_SAT'] = schools.average_math + schools.average_reading + schools.average_writing
top_10_schools = schools.groupby("school_name")["total_SAT"].mean().reset_index().sort_values("total_SAT", ascending=False).head(10)

top_10_schools

                                           school_name  total_SAT
325                             Stuyvesant High School     2144.0
324                Staten Island Technical High School     2041.0
55                        Bronx High School of Science     2041.0
188  High School of American Studies at Lehman College     2013.0
334                        Townsend Harris High School     1981.0
293  Queens High School for the Sciences at York Co...     1947.0
30                      Bard High School Early College     1914.0
83                      Brooklyn Technical High School     1896.0
121                      Eleanor Roosevelt High School     1889.0
180  High School for Mathematics, Science, and Engi...     1889.0

In [174]:
# Calculating for schools with largest std_dev per NYC borough: largest_std_dev

summary = schools.groupby('borough')['total_SAT'].agg(['count','mean','std']).round(2)
summary.columns = ['num_schools','average_SAT','std_SAT'] # renaming column names

largest_std_dev = summary[summary['std_SAT'] == max(summary['std_SAT'])]

largest_std_dev

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29